@import '../../style/\ variables';

.input {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;

    &__label {
        cursor: pointer;
        margin-bottom: 10px;
        color: $black;
        font-size: 18px;
        font-weight: 600;
    }

    &__input {
        width: 100%;
        max-width: 420px;
        padding: 10px 16px;
        border-radius: 50px;
        border: 2px solid $light-gray;
    }
}


@media (max-width:400px) {
    .input {
        margin-bottom: 20px;

        &__label {
            font-size: 16px;
        }

        &__input {
            max-width: 287px;
            padding: 11.5px 8px 11.5px 16px;

        }
    }
}