@import '../style/\ variables';

.home {
    // margin: 40px 0 198px 0;
    margin-bottom: 198px;
    padding: 40px 0 198px 0;
}

.carts {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}



// @media (max-width:1119px) {
//     .carts {
//         justify-content: center;
//     }
// }